<%- include('partials/header'); %>
    <title><%= product[0]._name %></title>
<%- include('partials/userNavBar')%>
    
    <div class="outer-container" style="display: flex; justify-content: center; align-items: center; background-color: rgb(25, 180, 180); height: 100vh; width: 100vw;">
        <div class="buy-product" style="display: flex; flex-direction: column; align-items: center; width: 70vw; height: 70vh;">
            <div class="user-info" style="width: 100%; margin: 3rem;">
                <h2>User Info:</h2>
                <h2><%= user[0]._name %></h2>
                <h3><%= user[0]._address.replaceAll("^",", ") %></h3>
                <h3><%= user[0]._phno %></h3>
            </div>
            <hr width="15px">
            <div class="product-info" style="width: 100%; margin: 3rem;">
                <h2>Product Info:</h2>
                <h2><%= product[0]._name %></h2>
                <h2>Quantity : <%= quantity %></h2>
                <h3>Total Price : <%= price %></h3>
            </div>
            <div class="buyMedicine" style="width: 25%">
                <form action="/user/product/purchase" method="post">
                    <button name="purchaseMedicine" value="<%= user[0]._uid+"^"+product[0]._prid+"^"+product[0]._oid+"^"+quantity+"^"+product[0]._name+"^"+price+"^"+product[0]._manufacturer +"^"+product[0]._quantity+"^"+product[0]._image+"^"+user[0]._email %>">Buy</button>
                </form>
            </div>
        </div>
    </div>
    
    
<%- include('partials/footer'); %>