<%- include('partials/header'); %>
    <title><%= article[0]._title %></title>
</head>
<body>
    <div class="navBar">
        <div class="company">
            <img class="navLogo" src="/favicon.png" alt="">
            <h1><a class="navLogo" href="/">Medilab</a></h1>
        </div>
    </div>

    <form action="/doctor/articles/edit/<%= article[0]._bid %>" method="post" enctype="multipart/form-data">
        <div class="conatainer-fluid" 
             style="
             display: flex;
             flex-direction: column;
             justify-content: center;
             align-items: center;
             border: 2px solid;
             border-radius: 1rem;
             margin: 12%;
             margin-top: 5%;
             width: 50%;
             margin-left: 25%;
             height: 50%;
             padding:3rem;
             background-color: #D6E8DB;
            "
        >
        <input type="text" name="blogtitle" value="<%= article[0]._title %>" style="width: 75%; margin-top: 1rem;">
        <input type="file" name="blogimage" accept="image/*" placeholder="Enter Blog Image" style="width: 75%;">
        <textarea name="blogcontent" cols="50" rows="10" style="width: 75%;"><%= article[0]._content %></textarea>
        <button name="button" value="<%= article[0]._image %>" onchange="this.form.submit()" style="width: 25%; margin: 2rem; background-color: #e76161;">Update</button>
    </form>
    
<%- include('partials/footer'); %>