<%- include('partials/header'); %>
    <title>Medilab</title>
<%- include('partials/userNavBar')%>
    <div class="articles">
        <% for( let index = 0; index < products.length; index++ ) { %>
            <a class="medicineLink" href="/user/product/<%= products[index]._prid %>">
                <div class="article">
                    <img src="/uploads/<%=products[index]._image%>" class="blogImg" alt="">
                    <h5><%= products[index]._expiry.toDateString() %></h5>
                    <h1><%= products[index]._name %></h1>
                    <h3>MRP: <%= products[index]._mrp %></h3>
                    <h3>Manufactured By: <%= products[index]._manufacturer %></h3>
                    <div class="delete">
                        <form action="/user/myCart/delete" method="post">
                                <button name="button" value="<%= products[index]._cartId%>" onchange="this.form.submit()">Remove From Cart</button>
                        </form>
                    </div>
                </div>
            </a>
        <% } %>
    </div>
<%- include('partials/footer'); %>