<%- include('partials/header'); %>
    <title><%= article[0]._title %></title>
</head>
<body>
    <div class="navBar">
        <div class="company">
            <img class="navLogo" src="/favicon.png" alt="">
            <h1><a class="navLogo" href="/">Medilab</a></h1>
        </div>
    </div>

    <div class="container-fluid" style="display: flex; flex-direction: column; padding-top: 5rem; background-color: #D5B4B4;">
        <img src="/uploads/<%=article[0]._image %>" alt="" style="height: 50vh; width: 50vh; margin-left: 35%;">
        <div class="basic-data" style="display: flex; justify-content: space-around; margin: 2rem;">
            <h5><%= article[0]._date.toDateString() %></h5>
            <div class="doctor-data">
                <h5>By: <%= doctor[0]._name %></h5>
                <h6>(<%= doctor[0]._email %>)</h6>
            </div>
        </div>
        
        <h1 style="text-decoration: underline; margin-bottom: 3rem;"><%= article[0]._title %></h1>
        <p><%= article[0]._content %></p>
    </div>
    

<%- include('partials/footer'); %>