<%- include('partials/header'); %>
    <title>Medilab</title>
<%- include('partials/userNavBar')%>
    <div class="container search-bar">
        <form action="/user/searchMedicine" method="get" style="display: flex;">
            <input class="form-control mr-sm-2" type="text" name="medicinename" placeholder="Search Medicine" aria-label="Search">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        </form>
    </div>
    <div class="container">
        <% if (medicinesError!=="") { %>
            <h1>No such medicine exist</h1>
        <% } else { %>
            <div class="articles cart-body">
                <div class="cart-container">
                    <% for( let index = 0; index < medicines.length; index++ ) { %>
                        <a class="medicineLink" href="/user/product/<%= medicines[index]._prid %>">
                            <div class="container">
                                <div class="row cart-items">
                                    <div class="col cart-img">
                                        <img src="/uploads/<%=medicines[index]._image%>" class="blogImg" alt="">
                                    </div>
                                    <div class="col-md-auto cart-about">
                                        <h5><%= medicines[index]._expiry.toDateString() %></h5>
                                        <h1><%= medicines[index]._name %></h1>
                                        <h3>Manufactured By: <%= medicines[index]._manufacturer %></h3>
                                    </div>
                                    <div class="cart-price">
                                        <div class="cart-amount">MRP: ₹ <%= medicines[index]._mrp %></div>
                                        <div class="remove">
                                            <form action="/user/addCart" method="post">
                                                    <button name="button" value="<%= medicines[index]._prid+"^"+user[0]._uid +"^"+ medicines[index]._image+"^"+medicines[index]._expiry +"^"+medicines[index]._name +"^"+medicines[index]._mrp+"^"+medicines[index]._manufacturer%>" onchange="this.form.submit()">Add To Cart</button>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </a>
                    <% } %>
                </div>
            </div>
        <% } %>
    </div>
    
    
<%- include('partials/footer'); %>